# Default values for Maven projects.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: 10.55.241.103:5000/dukecon/dukecon-server
  tag: 1.7.5
  pullPolicy: IfNotPresent

# define environment variables here as a map of key: value
env:
  - JAVA_OPTS: "-XX:+ExitOnOutOfMemoryError -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/opt/dukecon/heapdumps"
  - SPRING_CONFIG_ADDITIONAL_LOCATION: "/opt/dukecon/config"
  - SPRING_PROFILES_ACTIVE: "docker"
# enable this flag to use knative serve to deploy the app
knativeDeploy: false

service:
  name: dukecon-server
  type: ClusterIP
  externalPort: 80
  internalPort: 8080
  annotations:
    fabric8.io/expose: "false"
    fabric8.io/ingress.annotations: "kubernetes.io/ingress.class: nginx"
resources:
  limits:
    cpu: 500m
    memory: 2Gi
  requests:
    cpu: 400m
    memory: 512Mi
probePath: /health
livenessProbe:
  initialDelaySeconds: 120
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1
readinessProbe:
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1
